.App {
  text-align: left;
}

.App-logo {
  display: none;
}

.App-title {
  float: left;
  margin-left: 10px;
  color: white;
  font-size: 2.5em;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;

}

@media only screen and (min-width: 500px) {
  .App-logo {
    display: block;
    float: left;
    height: 80px;
  }
  
  .App-title {
    font-size: 4em;
  }
}

.App-header {
  text-align: center;
  background-color: #444;
  height: 120px;
  padding: 20px;
  color: white;
}


.App-intro {
  font-size: large;
}

.App-content {
  margin-top: 8px;
  padding: 5px 10px 30px 10px;
  background-color: #ffd91d38;
}

a { cursor: pointer; }

.item-info {
  font-size: 12px;
  color: #888;
}

.item-info > *:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #888;
}

.comment {
  margin: 10px auto;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.comment-title {
  margin-left: 20px;
  margin-bottom: 20px;
}

.commentsList {
  max-width: 80%;
  margin-left: 20px;
}

.comment-accordion {
  padding: 0px 6px 2px 6px;
  margin-top: 10px;
}

.comment-accordion:before {
  content: "\25E4";
}

.comment-accordion.collapsed:before {
  content: "\25E2";
}

.collapse-hide {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition:max-height .5s ease-out;
  transition: max-height .5s ease-out;
}

.collapse-show {
  max-height: 1000px;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
}

.pagination>li>a , .pagination>li.disabled>a, .pagination>li.disabled>a:hover {
  background-color: transparent;
}

.sticky-sidebar {
  border-radius: 10px;
  margin-right: 18px;
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}

.sticky-sidebar ul {
  padding-left: 0px;
  margin: 0px;
  text-transform: uppercase;
  float: left;
  list-style-type: none;
}

.sticky-sidebar ul li {
  margin: 10px 0px;
}